#start_intro {
    text-align: center;
    font: 3vw;

}

#add_web {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
}

#form_items > *{
    padding: 10px;
}

#form_intro {
    font-size: 2.5vw;
}

.form_text {
    padding: 2px;
    font-size: 2vw;
}