#start_intro {
    text-align: center;
}

#login_wap {
    justify-content: center;
    display: flex;
}

#all_form {
    display: flex;
    width: 60%;
    min-width: 600px;
}

#all_form > * {
    border: solid 2px black;
}

#login_form {
    justify-content: center;
    display: flex;
    width: 40%;
    border-right-width: 1px;
}

#form_item > * {
    margin: 5px;
}

.form_item {
    justify-content: center;
    display: flex;
}

#submit_button {
    justify-content: center;
    display: flex;
}

.form_text {
    text-align: center;
    font-size: 24px;
}

#other_option {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-left-width: 1px;
}

#other_option > * {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}

#other_option >a:visited{
    color: blue;
}

#other_option > a:hover{
    color: purple;
}

