{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Take_a_break_app</title>
        <link href="{% static 'take_a_break_app/layout.css' %}" rel="stylesheet">
        {% block stylesheet %}
        {% endblock %}
        <meta name="Take_a_break_app" content="This is a app that help people with time manangement when taking a break" />
    </head>


    <body>
        <div id="header">
            <!-- <h1>Take a break!</h1>-->
        </div>

        {% block body %}
        {% endblock %}
    </body>

</html>