{% extends "take_a_break_app/layout.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'take_a_break_app/main.css' %}" rel="stylesheet">
<script src = "{% static 'take_a_break_app/main.js'  %}" ></script>
{% endblock %}


{% block body %}
<div id = "intro">
    {% if username %}
        <p>Hello, {{ username }}!</p>
    {% else %}
        <p>If you want, please register in this <a href="{% url 'take_a_break_app:register' %}">link</a>
        </p>
    {% endif %}
    <br>
</div>
<div id="add">
    <a herf="{% url 'take_a_break_app:add' %}">add a website</a>
</div>
<div id="main_function">
    the following is the websites you set as favourite:
    <div id="websites">
        <table>
            <tr>

            {% for website in list_of_websites %}
                {% if index == 4 %}  
                    {{ index }}
                    </tr>
                    <tr>
                {% else %} 
                        <br>
                {% endif %}
                <div class="website">
                    {{ website.name }}
                    <br>
                    {{ website.url }}
                    <br>
                </div>
            {% empty %} 
                No favourite websites yet, click "add websites" to create one!
            {% endfor %}
        </table>
        
    </div>
</div>

<input type="hidden" id="index" name="index" value=0>


{% endblock %}