{% extends "take_a_break_app/layout.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'take_a_break_app/main.css' %}" rel="stylesheet">
<script src = "{% static 'take_a_break_app/main.js'  %}" ></script>
<script src="https://cdn.jsdelivr.net/npm/html-duration-picker@latest/dist/html-duration-picker.min.js"></script>
{% endblock %}


{% block body %}
{% if message %} 
<script>
    alert("{{ message }}")
</script>
{% endif %}
<div id = "intro">
    {% if username %}
        <p>Hello, {{ username }}!</p>
    {% else %}
        <p>If you want, please register in this <a href="{% url 'take_a_break_app:register' %}">link</a>
        </p>
    {% endif %}
    <br>
</div>
<div id="add">
    {% if username %}
        <a href="{% url 'take_a_break_app:add' %}">add a website</a>
    {% else %}
        <a href="{% url 'take_a_break_app:add_guest' %}">add a website</a>
    {% endif %}
    
</div>
<div id="take_a_break">
    <form action = "{% url 'take_a_break_app:main' %}" method="post">
        {% csrf_token %}
        <div id="form_items">
            <div id="form_intro">
                Ready to take a break? enter the duration of your break and the website you want to go
            </div>
            <div id="websites">
                <div class="form_text">
                    Select a website:
                </div>
                <select name="website">
                    {% if list_of_websites %}
                        <option value="defalut">Please select a website!</option>
                    {% else %}
                        <option value="defalut">No favourite websites yet, click "add websites" to create one!</option>
                    {% endif %}
                    {% for website in list_of_websites %}
                        <div class="website">
                            <option value={{ website.url }}>{{ website.name }}</option>
                        </div>
                    {% endfor %}
                </select>  
            </div>  
            <div id="time">
                <div class="form_text">
                    Enter a duration of you break:
                </div>
                <input class="html-duration-picker" name="time">
            </div>
            <div id="submit">
                <input type="submit" value="take a break">
            </div>
        </div>
    </form>
</div>
    

{% endblock %}