{% extends "take_a_break_app/layout.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'take_a_break_app/register.css' %}" rel="stylesheet">
<script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
<script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
<script src="{% static 'take_a_break_app/register.js' %}"></script>
{% endblock %}


{% block body %}
<div id = "register_intro">
    <h2>Please Register with the following information</h2>
</div>
<div id="register_form">
    <form name="register" action = "{% url 'take_a_break_app:register' %}" method="post">
        {% csrf_token %}
        <div class = "form_item">
            <div class="form_text">
                <label for="username">Username</label>
            </div>
            <input id="username" name="username" type="text">
        </div>
        <div class = "form_item">
            <div class="form_text">
                <label for="email">Email</label>
            </div>
            <input id="email" name="email" type="text" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        </div>
        <div class = "form_item">
            <div class="form_text">
                <label for="password">Password</label>
            </div>
            <input id="password" name="password" type="password">
        </div>
        <div class = "form_item">
            <div class="form_text">
                <label for="password">confirm password</label>
            </div>
            <input id="confirm_password" name="confirm_password" type="password">
        </div>
        <div id = "error_message">
            {% if error_message %}
                {{ error_message }}
            {% else %}
                <br>
            {% endif %}
        </div>
        <br>
        <div id = "submit_button">
            <input type="submit" value="register">
        </div>
    </form>
</div>
<script>
    const form = document.getElementById("register_form").getElementsByTagName("form")[0];
    form.addEventListener("submit", (event) => {
        console.log("Test")
        if (!validateForm()) {
            event.preventDefault();
        };
        event.preventDefault();
    });
</script>

{% endblock %}


