{% extends "take_a_break_app/layout.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'take_a_break_app/register.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
<div id = "register_intro">
    <h1>Hello, I am Chenxuan Wei !</h1>
    <h2>Please Register with the following information</h2>
</div>
<div id = "register_form">
    <form action = "{% url 'take_a_break_app:register' %}" method="post">
        {% csrf_token %}
        <ul id = "form_items">
            <div class = "form_item">
                <div class="form_text">
                    Username
                </div>
                <li>{{ user_form.username }}
                    <div class = "form_message">
                        {{ username_message }}
                    </div>
                </li>
            </div>
            <div class = "form_item">
                <div class="form_text">
                    Email
                </div>
                <li>{{ user_form.email }}
                    <div class = "form_message">
                        {{ email_message }}
                    </div>
                </li>
            </div>
            <div class = "form_item">
                <div class="form_text">
                    Password
                </div>
                <li>{{ user_form.password }}
                    <div class = "form_message">
                        {{ password_message }}
                    </div>
                </li>
            </div>
            <div class = "form_item">
                <div class="form_text">
                    Confirm your password
                </div>
                <li>{{ user_form.confirm_password }}
                    <div class = "form_message">
                        {{ confirm_password_message }}
                    </div>
                </li>
            </div>
            <div id = "error_message">
                {% if error_message %}
                    {{ error_message }}
                {% else %}
                    <br>
                {% endif %}
            </div>
            <br>
            <div id = "submit_button">
                <input type="submit">
            </div>
        </ul>
    </form>
</div>
{% endblock %}


