{% extends "take_a_break_app/layout.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'take_a_break_app/start.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
<script>
    window.onload = function() {
        const message = document.getElementById("error_message").value;
        if (message != "") {
            alert(message);
        }
    };
</script>
<div id = "start_intro">
    <h1>Hello, I am Chenxuan Wei !</h1>
    <h2>Please Take a break!</h2>
</div>
<div id = "login_wap">
    <div id = "all_form">
        <div id = "login_form">
            <form action = "{% url 'take_a_break_app:start' %}" method="post">
                {% csrf_token %}
                <div id = "form_item">
                    <div class="form_text">
                        <label for="username">Username</label>
                    </div>
                    <input id="username" type="text", name="username">
                    <div class="form_text">
                        <label for="password">Password</label>
                    </div>
                    <input id="password" type="password", name="password">
                    <br>
                    <div id = "submit_button">
                        <input type="submit" value="login">
                    </div>
                </div>
            </form>
        </div>
        <div id = "other_option">
            <a href="{% url 'take_a_break_app:main' %}">login as a guest</a>
            <a href="{% url 'take_a_break_app:still_building' %}">recover your password</a>
            <a href="{% url 'take_a_break_app:register' %}">register</a>
        </div>
    </div>
</div>

<!-- This is for bring django variable to js-->
<input type="hidden" id="error_message" name="error_message" value="{{ error_message }}">
{% endblock %}




