{% extends "take_a_break_app/layout.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'take_a_break_app/main.css' %}" rel="stylesheet">
<script src="{% static 'take_a_break_app/break.js' %}"></script>
{% endblock %}


{% block body %}
<script>
    let time = "{{ time }}";
    let website = "{{ website }}";
    //time_after_redirect(time);
    let counter = get_counter(time);
</script>

<span ng-bind="counter"></span>



<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
{% endblock %}