{% extends "take_a_break_app/layout.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'take_a_break_app/take_a_break.css' %}" rel="stylesheet">
<script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
<script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
<script src="{% static 'take_a_break_app/break.js' %}"></script>
<script>
    let time = "{{ time }}";
    let website = "{{ website }}";
    //time_after_redirect(time);
    let counter = time;
    let check = true;
    console.log(website);
    open_in_new_tab(website)
    function update_timer() {
        if (counter != "00:00:00") {
            counter = get_counter(counter);
            ReactDOM.render(
                counter, 
                document.getElementById("timer")
            );
        } else {
            ReactDOM.render(
                "Time up!", 
                document.getElementById("timer")
            );
        }
    }
    setInterval(update_timer, 1000);
</script>
{% endblock %}


{% block body %}

<div id="text">
    You have the following time remaining for your break:
</div>


<div id="timer">
</div>


{% endblock %}